<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "game-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>

  <fieldset>
    <label>Name</label>
    <%= text_input f, :name, autofocus: true %>
    <%= error_tag f, :name %>
  </fieldset>
  <fieldset>
    <label>Mode</label>
    <%= select f, :mode, ["anarchy", "democracy"] %>
    <%= error_tag f, :mode %>
  </fieldset>

  <%= submit "Save", phx_disable_with: "Saving..." %>
</form>
